.container{background-image: url(../../assets/images/back8-01.png);
    
background-repeat: no-repeat;
background-size: cover;
position: fixed;
height: 100%;
    width: 100%;
}





.Form{
   
    /* background-color: aqua; */
    height: auto;
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;

}

.Preview{
    background-color: rgb(23, 66, 52);
    height: 100vh;
   
}

.submit{
    align-items: center;
    display: flex;
    flex-direction: column;
    ;
}

.tittle{font-family: inherit;
    font-size: 30px;
align-self: center;}

.typeTittle{
    font-family: inherit;
        font-size: 20px;
        align-self: center;
        margin-bottom: 5px;
    
        
}

label{
font-family: inherit;
    font-size: 13px;
    
}



.inputsContainer {
  
margin-top: 40px;
    display: flex;
    flex-direction: column;
max-height: 540px;

    justify-content: center;
    background-color:#FAEBD7;
    padding: 30px;
    height: auto;
    border-radius: 30px;
box-shadow: 1px 1px 10px 1px black;
   
}

.inputsContainer p{
    font-size: 10px;
    color: red;
    margin: 0px;
    align-self: center;
}


.allTypes {
    display: flex;
    justify-content:space-around;
    height: 135px;
    width: 300px;
    padding: 15px;
    margin-top: -15px;
    border-style: outset;
    border-color: transparent #ff0400 #fd0804 transparent;
    margin-bottom:15px ;
    
  
}




.div1{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.div2 {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.div3 {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.div4 {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.div5 {
    flex-direction: column;
    display: flex;
    align-items: center;
}







