

.Card{
   
height: 400px;
    width: 400px;
    margin: 40px;
border-style: outset;

}




.name{font-size: 25px;
font-family:inherit;
background-color: rgb(247, 242, 242);

border-radius: 0% 4vh;
margin-top: 3vh;
padding-left: 3vh;
padding-right: 5vh;
margin-right: 170px;
}

.type{
 height: 100px;
align-self:auto;

}

.divImagen {
background-image: url(../../assets/images/giphy.gif);
background-color:antiquewhite;
/* background-color: rgb(192, 192, 192); */
display: flex;
flex-direction: column;
align-items: center;
height: 400px;

}


.contenedorType {
   
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    width: 380px;
}




img{
    height: 200px;
    
}



.fire {
height: 400px;
    width: 400px;
    margin: 25px;
    border-style: outset;
    border-color:#f08030;
    box-shadow: 7px 5px 5px #f08030;
    transition: transform 0.5s ease;
   
    

}

.fire:hover{
    scale: 1.1;
transform: translateY(10px);
transition: 0.3s;
   
}

.water {
height: 400px;
    width: 400px;
margin: 25px;
    border-style: outset;
    border-color:#6890f0;
    box-shadow: 7px 5px 5px #6890f0

}

.water:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.normal{
    height: 400px;
        width: 400px;
        margin: 25px;
        border-style: outset;
        border-color: #a8a878;
        box-shadow: 7px 5px 5px #a8a878
}


.normal:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}
.poison{
    height: 400px;
        width: 400px;
    margin: 25px;
        border-style: outset;
        border-color: #a040a0;
        box-shadow: 7px 5px 5px #a040a0
}

.poison:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.electric{
    height: 400px;
        width: 400px;
    margin: 25px;
        border-style: outset;
        border-color: #f8d030;
        box-shadow: 7px 5px 5px #f8d030
}

.electric:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.rock{
height: 400px;
    width: 400px;
    margin: 25px;
    border-style: outset;
    border-color: #b8a038;
    box-shadow: 7px 5px 5px #b8a038

}

.rock:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.ice {
    height: 400px;
    width: 400px;
    margin: 25px;
    border-style: outset;
    border-color: #98d8d8;
    box-shadow: 7px 5px 5px #98d8d8
}

.ice:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}


.dragon {
    height: 400px;
    width: 400px;
margin: 25px;
    border-style: outset;
    border-color: #7038f8;
    box-shadow: 7px 5px 5px #7038f8
}

.dragon:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.psychic {
    height: 400px;
    width: 400px;
margin: 25px;
    border-style: outset;
    border-color: #f85888;
    box-shadow: 7px 5px 5px #f85888
}

.psychic:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.grass{
    height: 400px;
    width: 400px;
margin: 25px;
    border-style: outset;
    border-color: #78c850;
    box-shadow: 7px 5px 5px #78c850
}

.grass:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.bug {
    height: 400px;
    width: 400px;
    margin: 25px;
    border-style: outset;
    border-color: #a8b820;
    box-shadow: 7px 5px 5px #a8b820
}

.bug:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.fairy {
    height: 400px;
    width: 400px;
margin: 25px;
    border-style: outset;
    border-color: #f0b6bc;
    box-shadow: 7px 5px 5px #f0b6bc
}

.fairy:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}



.dark {
    height: 400px;
    width: 400px;
    margin: 25px;
    border-style: outset;
    border-color: #705848;
    box-shadow: 7px 5px 5px #705848
}

.dark:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}
.ghost {
    height: 400px;
    width: 400px;
margin: 25px;
    border-style: outset;
    border-color: #705898;
    box-shadow: 7px 5px 5px #705898
}

.ghost:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.ground {
    height: 400px;
    width: 400px;
    margin: 25px;
    border-style: outset;
    border-color: #e0c068;
    box-shadow: 7px 5px 5px #e0c068
}

.ground:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}


.fighting {
    height: 400px;
    width: 400px;
    margin: 25px;
    border-style: outset;
    border-color: #c03028;
    box-shadow: 7px 5px 5px #c03028
}

.fighting:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.flying {
    height: 400px;
    width: 400px;
    margin: 25px;
    border-style: outset;
    border-color: #a890f0;
    box-shadow: 7px 5px 5px #a890f0
}

.flying:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}

.steel {
    height: 400px;
    width: 400px;
    margin: 25px;
    border-style: outset;
    border-color: #b8b8d0;
    box-shadow: 7px 5px 5px #b8b8d0
}

.steel:hover {
    scale: 1.1;
    transform: translateY(10px);
    transition: 0.3s;

}