.home{
    /* background-color: rgb(255, 255, 255); */
    background-image: url(../../assets/images/backgroundHome.jpg);


  
}




.paginado{display: flex;
justify-content: center;
border: none;
margin-top: 10px;
}

.back{
    margin-right: 30px;
    padding: 6px;

}