.filtros{
    background-color: rgb(250, 237, 237);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.select option:checked {
    background-color: rgb(250, 142, 142);
   
}