
.button{
height: 35px;
background-size: 25px 25px;
background-position: center;
width: 35px;
border-radius: 666px;
background-repeat: no-repeat;
  background-image: url(../../assets/images/inconsHd/search.png);
  background-color: transparent;
  border: none;
  
  margin-left: 15px;
  }

  .button:hover{
    scale: 1.1;
  
  }




.input{
 
  background-color: rgb(250, 201, 201);
outline: none;
    border: 1px solid #B52B25;
    border-radius: 15px;
  height: 29px;
  width: 270px;
  

}


select{
  margin: 8px;
  background-color: rgb(250, 201, 201);
  padding: 2px;

  
}

.SearchBar{
  display: flex;
  text-align: center;
  align-items: center;
}





