@font-face {
    font-family: 'Open Sans';
    src: url("../../assets/fonts/PocketMonk-15ze.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

.pokemon{font-family:PocketMonk-15ze;
font-size: 55px;
color: #B52B25;}


.navLink {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    background-color: #B52B25;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
  
}

.navLink :hover{
color: rgb(51, 2, 2);


}


.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    height: 70px;
  
}

.pokemon{
    margin-left: 50px;
    
}
